# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
.env

# Database
travel_planner.db  # optional: ignore if you don't want to push local DB

# Logs
*.log

# IDE / editor settings
.vscode/
.idea/

# OS system files
.DS_Store
Thumbs.db

# Node / React
node_modules/
build/
dist/

